.benefits {
   // margin-bottom: 150px;
   @include adaptiv-value("margin-bottom", 150, 50, 0);
}
.benefits__items {
   margin-top: 66px;
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
}
.benefits__item {
   max-width: 350px;
   background: #F7F7F7;
   padding: 130px 92px 59px 86px;
}
.benefits__info {
   position: relative;
   font-family: 'Oswald';
   font-weight: 500;
   font-size: 21px;
   line-height: 1.47;
   text-align: center;
   letter-spacing: 0.02em;
   color: #000000;
}
.benefits__info::before {
   position: absolute;
   content: url('../images/icons/building.svg');
   top: -70px;
   // left: 55px;
   @include adaptiv-value("left", 55, 50, 0);
   width: 60px;
   height: 40px;
}
// АДАПТИВ start ====================================================================================================

@media (max-width: 1130px) {
   .benefits__items{
      display: flex;
      justify-content: center;
   }
} 
@media (max-width: 320px){
   .benefits__info::before {
     left: 43px;
   }
}
