.title-block {

   
}
.title {
    text-align: center;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 36px;
    line-height: 1.47;
    text-transform: uppercase;
    color: #404149;
}
